<launch>
    <arg name="node_name"
         default="joint_limit_viewer" />
<!-- <arg name="launch-prefix" value="valgrind"/>   -->
    <node pkg="joint_limit_viewer"
          type="joint_limit_viewer_node"
          name="$(arg node_name)"
          output="screen">

              <rosparam command="load"
                file="$(find joint_limit_viewer)/config/config.yml" />
    </node>

</launch>